-# Set page title
- html_title @page.html_title
- html_meta @page.meta

%h1= @page.title

%p= raw @page.text

= form_for @feedback do |f|
  = f.label :name
  *
  %div= f.text_field :name
  = f.label :phone
  *
  %div= f.text_field :phone
  = f.label :email
  %div= f.text_field :email
  = f.label :theme
  %div= f.text_field :theme
  = f.label :text
  %div= f.text_area :text
  %div= f.submit 'Отправить'