!!!
%html
  %head
    %title= yield(:html_title)
    %meta= yield(:html_meta)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render 'layouts/menu/menu_wrapper'
    = yield

    #dialog_load{title: "Пожалуйста, подождите..."}
      %p Пожалуйста, не закрывайте окно.
      %p Идет отправка письма администратору. Через несколько секунд вы получите подтверждение о том, что письмо отправлено.

    #dialog_ready{title: "Письмо отправлено"}
      %p Спасибо за обратную связь!
      %p Ваше письмо отправлено владельцу сайта. В ближайшее время с вами свяжутся.

    #dialog_error{title: "Ошибка"}
      %p Извините за причиненные неудобства!
      %p На сайте возникли неполадки. Обратитесь по телефону, указанному на сайте.